:root {
    --base-font-size: 14px;
    --font-family: "RobotoSlab", sans-serif;
    --primary-color: #ffffff;
    --primary-blue: #3333fd;
    --error-color: #fd5c5c;
    --success-color: #36f563;
    --warning-color: #ffa133;
    --gray-third: #595B5B
}