// global styles
@import "variables";
@import "base";
@import "./components/buttons";

[debug],
[debug] > * {
    border: 1px solid red;
}

// global styles
.fit-parent {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade-enter-active,
.fade-leave-active {
    transition: 570ms cubic-bezier(0.5, 0.07, 0, 0.96);
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform: translateY(7px);
    opacity: 0;
}

.tooltip {
    background: black;
    font-size: 0.857rem;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: inherit;
    transition: 1s ease;

    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }
}
